html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  height: auto;
  width: 100%;
}

h2 {
  border-bottom: 1px solid white;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 100px;
  width: -moz-fit-content;
  width: fit-content;
}

#toTop {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  background: #660000;
  border-radius: 50%;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 13px;
  box-shadow: 0px 0px 5px 1px grey;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  scroll-behavior: smooth;
}
html body {
  background: linear-gradient(180deg, rgb(255, 0, 0) 0%, rgb(0, 0, 0) 50%, rgb(255, 242, 0) 100%);
}
html body header {
  align-items: center;
  background: #ba1307;
  box-shadow: 0px 0px 5px 2px #660000;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 50px;
  padding-left: 10%;
  padding-right: 10%;
  position: fixed;
  width: 80%;
}
html body header #logo {
  height: 25px;
  width: 100px;
}
html body header #menu {
  display: none;
}
html body header #menuBtn {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0;
  position: absolute;
  right: 50px;
  top: 0;
}
html body header #mobileMenu {
  background: #ba1307;
  box-shadow: 0px 6px 5px 2px #660000;
  display: none;
  flex-direction: column;
  gap: 20px;
  right: 0;
  padding: 20px;
  position: absolute;
  top: 50px;
}
html body header nav a {
  align-items: center;
  color: white;
  display: flex;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}
html body main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
html body main #hero {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 90vh;
}
html body main #hero h1 {
  color: white;
  font-size: 4rem;
  font-weight: 700;
}
html body main #history {
  color: white;
  line-height: 1.5;
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
}
html body main #history .imageDiv {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
html body main #history .imageDiv img {
  border: 5px solid white;
  box-shadow: 0px 0px 5px 0px black;
  height: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 500px;
}
html body main #history .imageDiv p {
  flex-basis: min-content;
  flex-grow: 1;
}
html body main #history .textDiv {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}
html body main #models {
  line-height: 1.5;
  margin-bottom: 100px;
  padding-left: 10%;
  padding-right: 10%;
}
html body main #models #modelContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 5%;
}
html body main #models #modelContainer figure {
  background: #ba1307;
  border: 5px solid white;
  box-shadow: 0px 0px 5px 0px grey;
  height: 300px;
  max-width: 300px;
}
html body main #models #modelContainer figure img {
  height: auto;
  max-width: 300px;
}
html body main #models #modelContainer figure figcaption {
  padding: 10px;
}
html body main #models #modelContainer figure figcaption h3 {
  color: white;
  font-size: 1.1rem;
}

@media screen and (min-width: 750px) {
  html body header #menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 50px;
  }
  html body header #menu a:hover {
    background: #FFF200;
    color: black;
  }
  html body header #menuBtn {
    display: none;
  }
  html body header #mobileMenu {
    display: none;
  }
  html body main #history .imageDiv .leftImg {
    margin-right: 5%;
  }
  html body main #history .imageDiv .rightImg {
    margin-left: 5%;
  }
}/*# sourceMappingURL=style.css.map */